<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Application Logger</title>
  </head>
  <body>
    <h1>Application Logger</h1>
      <form action="/mainPage" method="post">
        <input placeholder="やっていることを入力"></input>
        <button type="submit">やる</button>
      </form>
  </body>
</html>
