<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Time Logger</title>
    </head>
    <body>
      <h1>Time Logger</h1>
        <form action="/mainPage" method="post">
          <input placeholder="やることを入力" name="doing_thing" type="text"></input>
          <button type="submit">はじめる！</button>
        </form>
    </body>
    <script>
    window.onload = function () {


    }
    </script>
  </html>
