<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Time Logger</title>
    </head>
    <body>
      <h1>Time Logger</h1>
        <form action="/mainPage" method="post">
          <input placeholder="やることを入力" name="doing_thing" type="text"></input>
          <button type="submit">はじめる！</button>
        </form>
        <% if(typeof title !== 'undefined'){ %>
          <div>
            <%= title %>
          </div>
        <% } %>
        <% if(typeof result !== 'undefined'){ %>
          <% for(var i = 0; i < result.length; i++){ %>
            <div>
              <%= result[i].title %>
            </div>
          <% } %>
        <% } %>
    </body>
    <script>
    window.onload = function () {


    }
    </script>
  </html>
